<!DOCTYPE html>
<html class="fill">
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fill">

<% if flash.any? %>
    <div id='notification'>
        <% flash.each do |name, msg| %>
          <%= msg %>
        <% end %>
    </div>
<% else %>
    <div id='notification' style="display: none"></div>
<% end %>

<%= yield %>

</body>
</html>
